[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
Django = "*"
rootpath = "*"
numpy = "*"
channels = "*"
pyserial = "*"
websockets = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
